.signup-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-bottom: 10%;
}

.example-card{
    margin-left: 38%;
    margin-right: 10%;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.form-group {
    align-items: center;
    justify-content: center;
}